@model THEcapstone.Models.VetProfileViewModel

@{
    ViewBag.Title = "CreateProfile";
    Layout = "~/Views/Shared/_VeterinarianLayout.cshtml";
}

<h2>CreateProfile</h2>

<p>we did it boys!</p>