@model THEcapstone.Models.VetProfileViewModel
@{ 
    Layout = "~/Views/Shared/_VeterinarianLayout.cshtml";
}


@{ var name = Model.Vet.VetName; }
@if (Model.Vet.ProfileId == null)
{
    <h4 class="text-center">Welcome, @name.<br /><br /> It appears you haven't set up your profile yet. Please do so now so users can get in touch with you!</h4>
   
}