@model THEcapstone.Models.PSViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SitterLayout.cshtml";
}

<h2>Index</h2>

<hr />
@if(Model.Sitter.ProfileId == null)
{
    <h3>@Model.Sitter.SitterFirstName, it appears you haven't set up your profile yet.</h3>
}