@model THEcapstone.Models.FindServicesViewModel


@if (Model.Walker.Count != 0)
{
    <table class="table">
        @foreach (var walker in Model.Walker)
        {

            <tr>
                <td>
                    @walker.WalkerFirstName
                </td>
                <td>
                    @Html.ActionLink("View Profile", "", "")
                </td>
            </tr>
        }
    </table>
}
else
{

    <h1> No results </h1>



}