@model THEcapstone.Models.VetProfileViewModel
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Veterinarian Home</h2>

<hr />
<div class="row">
    <div class="col-md-2">
        <ul class="list-group">

            @if (Model.Vet.ProfileId == null)
            {

                @Html.ActionLink("Create Profile", "CreateProfile", "Veterinarian", new { id = Model.Vet.VetId }, new { @class = "list-group-item" })
            }
            else
            {
                @Html.ActionLink("View Profile", "ViewProfile", "Veterinarian", new { }, new { @class = "list-group-item" })
                @Html.ActionLink("Edit Profile", "", "", new { }, new { @class = "list-group-item" })
            }

        </ul>
    </div>
    <div class="col-md-10">
        <div class="panel panel-default">

            <div class="panel-body">

                @RenderBody()

            </div>

        </div>
    </div>
</div>
@section scripts{
    
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxzznBe8ybNXYxz0ZOyhRJQbbVGvam75s&callback=initMap"></script>   
    <script>

        function checkForMap() {
             var checkbox = document.getElementById('checkerino');
             let showPlease = document.getElementById('test');
             if (checkbox.checked == true) {
                 showPlease.style.display = 'block';
             }
             else if (checkbox.checked != true){
                 showPlease.style.display = 'none';
             }
        }
        function showMap() {
            let checkbox = document.getElementById('CheckBox');
            let map = document.getElementById('map');
            if (checkbox.checked != true) {
                map.style.display = 'block';
            }
            else if (checkbox.checked == true) {
                map.style.display = 'none';
            }
        }
        function initMap() {
            let position = { lat: 43.0389, lng: -87.9065 }
            var map = new google.maps.Map(document.getElementById('map'), {
                center: position,
                zoom: 15
            });
            var marker = new google.maps.Marker({ position: position, map: map });
        }
    </script>
    
}