@model THEcapstone.Models.DWViewModel
@{
    ViewBag.Title = "ViewClientLocation";
    Layout = "~/Views/Shared/_WalkerLayout.cshtml";
}

<h2>@Model.Client.CustFirstName's Location</h2>
<hr />

<div id="map" class="col-md-12" style="height:500px; width:100%"></div>

@section scriptsy{
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxzznBe8ybNXYxz0ZOyhRJQbbVGvam75s&callback=initMap"></script>
    <script>
            function initMap() {

                let position = { lat: 43.0389, lng: -87.9065 };
                var map = new google.maps.Map(document.getElementById('map'), {
                    center: position,
                    zoom: 15
                });
                var geocoder = new google.maps.Geocoder();
                getLatLong(geocoder, map)
            }
            function createMarker(position, map) {
                var marker = new google.maps.Marker({ position: position, map: map });
                return marker;
            }
            function getLatLong(geocoder, resultsMap) {

            @{string address = Model.Client.Address.Street; }
                var addressString = '@address';
                geocoder.geocode({ address: addressString }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                resultsMap.setCenter(results[0].geometry.location);
                createMarker(results[0].geometry.location, resultsMap);
                } else {
                alert('Geocode was not successful');
                }

                });

                }
        </script>
    }
