@model THEcapstone.Models.CustInboxViewModel
@{
    ViewBag.Title = "Charge";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}



<h3>Payment successfully charged. You are now elegible for discounts from our partnered veterinarians!</h3>
<hr />
<center><img src="~/successdog.jpg" /></center>
<hr />