
@{
    ViewBag.Title = "AdoptAPet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Adopt A Pet</h2>
<hr />
<div class="center-block">
<iframe style="width: 100%; height: 600px; margin: 0; background-color: gray" src="https://fpm.petfinder.com/petlist/petlist.cgi?shelter=WI45&status=A&age=&limit=25&offset=0&animal=Dog&title=Adopt from the Wisconsin Humane Society&style=16&ref=q0vuFJpUlGu8LOe" width="0px" height="0px" hspace="0" vspace="0" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0" bordercolor="#000000"></iframe>
</div>*@