@{
    ViewBag.Title = "Pet City - Main";
}

<div class="jumbotron" style = "background-image:url(/DoggyWoofWoof.jpg)">
    @if (User.IsInRole("Admin"))
    {
        <h1 class="text-center">Hello god</h1>
        
}
else
{
   <div class="text-left" style="color:#1a5dc9" >
       <div class="row">
           <h1 style="font-family: 'Comic Sans MS'">Pet City</h1>
       </div>
       <br />
       <br />
       <div class="row">
           <h3> Get Started Now!</h3>
       </div>
       <div class="row">
                @Html.ActionLink("Register","Register", "Account", new { }, new { @class = "btn btn-primary btn-lg"})
       
       </div>
       <div class="row">
            <h4><i>Already a member?</i></h4>
       </div>
       <div class="row">
                @Html.ActionLink("Sign In", "Login", "Account", new { }, new { @class = "btn btn-success btn-sm" })
       </div>
   </div> 
    }
</div>

